#root{
  position: absolute;
  top: 0px;
  width: 100%;
  left: auto;
  background-color: rgb(186, 73, 73);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}


.header{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.central{
  max-width: 500px;
  max-height: 400px;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 10px;
}

.options{
  display: flex;
  justify-content: center;
}

.functions{
  display: flex;
  justify-content: center;
}

button{
  margin: 10px;
}

.timer{
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
