#root{
  position: absolute;
  top: 0px;
  left: auto;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  
}

.principal{
  width: 100vw;
  height: 100vw;
}

.header{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.central{
  max-width: 500px;
  max-height: 400px;
  margin: auto;
  background-color: rgb(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 10px;
}

.options{
  display: flex;
  justify-content: center;
}

.functions{
  display: flex;
  justify-content: center;
}

button{
  margin: 10px;
}

.timer{
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

.contador{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
}
.footer{
  max-width: 530px;
  max-height: 430px;
  margin: auto;
  padding: 2px;
}

.taskListGeral{
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px ;
}

.taskListElements{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.726);
  display: flex;
  justify-content: space-between;
}